include /mixins/forms.pug

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Simple Task Manager
    link(rel='stylesheet' href='/assets/style.css')

  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4
      strong
        a.navbar-brand(href=urlFor('root')) Simple Task Manager
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href=urlFor('users')) Users
              span.sr-only (current)
          li.nav-item
            a.nav-link(href=urlFor('tasks')) Tasks
      #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
        ul.navbar-nav.mt-2.mt-md-0
          if isSignedIn()
            li.nav-item
              -const link = `/users/${userId}`
              a.nav-link(href=link) My account
          else
            li.nav-item
              a.nav-link(href=urlFor('newUser')) Sign up
            li.nav-item
              a.nav-link(href=urlFor('newSession')) Sign in 
    main.container(role='main')
      block content
      block footer
    script(src='/assets/bundle.js')